apiVersion: v1
kind: Namespace
metadata:
  name: securemint
  labels:
    app.kubernetes.io/name: securemint
    app.kubernetes.io/component: infrastructure
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: securemint-quota
  namespace: securemint
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    pods: "20"
    services: "10"
    secrets: "20"
    configmaps: "20"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: securemint-limits
  namespace: securemint
spec:
  limits:
    - default:
        cpu: "500m"
        memory: "512Mi"
      defaultRequest:
        cpu: "100m"
        memory: "128Mi"
      type: Container
